.DiaryEditor {
  border: 2px solid gray;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.DiaryEditor input,
textarea {
  width: 32rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
}

.DiaryEditor textarea {
  height: 150px;
}

.DiaryEditor select {
  width: 16rem;
  padding: 0.8rem;
  margin-bottom: 2rem;
}

.DiaryEditor button {
  width: 32rem;
  padding: 0.8rem;
  cursor: pointer;
}
